.reserve{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.418);
    top: 0;
    left: 0;
    display: flex; 
    align-items: center;  
    justify-content: center; 
}


label{
    margin-left: 10px;
}

input[type=checkbox] {
  display: flex;
  align-items: center;
    width: auto; 
    height: auto;
    font-size: 10px;
    margin-top: 1px;
  
}


.rContainer{
    background-color: white;
    position: relative;
    padding: 20px;
}

.rClosed{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.rItem{
display: flex;
align-items: center;
gap: 40px;
padding: 10px; 
}

.rItemInfo{
display: flex;
flex-direction: column;
gap: 5px;
}

.rTitle{
    font-weight: 500;
}

.rDesc{
    font-weight: 300;
}

.rMax{
    font-size: 12px;
}

.rPrice{
    font-weight: 500;
}

.rSelectRooms{
    display: flex;
    font-size: 8px;
    flex-wrap: wrap;
 
    color: gray;
}

.room{
    display: flex;
    flex-direction: column;
}
.rButton{
    width: 100%;   
    padding: 10px 20px;
    color: white;
    border: none;
    background-color: green;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px};

   